.container {
    text-align: center;

    &__h1 {
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__h2 {
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__text {
        text-transform: capitalize;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 5px;
    margin: 10px;
    background-color: yellow;
    border: 5px solid rgb(128, 0, 255);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(9, 255, 0);
    border: 5px solid rgb(172, 255, 5);
}

hr {
    border: 2px solid red;
    background-color: red;
}